<%= form_with(model: increase_point, local: true) do |form| %>
  <% if increase_point.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(increase_point.errors.count, "error") %> prohibited this increase_point from being saved:</h2>

      <ul>
        <% increase_point.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.text_field :date %>
  </div>

  <div class="field">
    <%= form.label :winner1 %>
    <%= form.text_field :winner1 %>
  </div>

  <div class="field">
    <%= form.label :winner2 %>
    <%= form.text_field :winner2 %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
