<%= form_with(model: increase_point, local: true) do |form| %>
  <% if increase_point.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(increase_point.errors.count, "error") %> prohibited this increase_point from being saved:</h2>

      <ul>
        <% increase_point.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<center>
  <div class="field">
    <%= form.text_field :date, class: 'form-control', placeholder: "Enter Match date" %>
  </div>

  <div class="field">
    <%= form.text_field :winner1, class: 'form-control', placeholder: "Enter Match1 Winner"  %>
  </div>

  <div class="field">
    <%= form.text_field :winner2, class: 'form-control', placeholder: "Enter Match2 Winner" %>
  </div>

  <div class="field">
    <%= form.password_field :password, class: 'form-control', placeholder: "Enter Password" %>
  </div>

  </center>
  <div class="actions">
    <%= form.submit 'Submit', class: 'save_button' %>
  </div>
<% end %>
