<h1 style="color:red;text-align:center">Predict the winning team</h1>
<h3 class="text_center"> Click on the card to select the team</h3>
<%= link_to 'Scoreboard',users_path, class: 'button' %>
<% match_number = 1%>
<% today = Time.now.utc.strftime("%d-%b-%y") %>
<% match_start_date = "9-Apr-21" %>
<br><br><br>
<h1 style="text-align:center"> Today matches </h1>
<br><br><br>
<% today_match = today >= match_start_date ? today : match_start_date %>
<% all_match = HomeHelper::MATCH_SCHEDULE[today_match] %>
<% match = all_match.first %>

<%= form_for @new_match_predection do |f| %>
  <center> 
    <%= f.text_field :name, class: 'form-control', placeholder: "Enter Your Name", required: true %>
    <br><br><br>
    <h1> Match <%= match_number %> </h1>
    <% end_time = all_match.count > 1 ? "3:30 PM" : "7:30 PM" %>
    <h3> You can select the team till <%= end_time %> </h3>
    <br><br><br>
    
    <div class="row">
      <%= f.collection_radio_buttons(:winners1, [[match['team1'], match['team1']] ,[match['team2'], match['team2']] ], :first, :last) do |b| %>
        <div class="column">
          <div class="card">
            <%= b.label { b.radio_button + image_tag(b.text+'.jpg', style: "width:300px") } %>
            <div class="container">
              <h3><b><%= b.text %></b></h3>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <% match_number+= 1%>

    <% if all_match.count > 1 %>
      <% match = all_match.last %>
      <h1> Match <%= match_number %> </h1>
      <h3> You can select the team till 7:30 PM </h3>
      <br><br><br>
      <div class="row">
        <%= f.collection_radio_buttons(:winners2, [[match['team1'], match['team1']] ,[match['team2'], match['team2']] ], :first, :last,html_options: { class: 'form-control' }) do |b| %>
          <div class="column">
            <div class="card">
              <%= b.label { b.radio_button + image_tag(b.text+'.jpg', style: "width:300px") } %>
              <div class="container">
                <h3><b><%= b.text %></b></h3>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

  </center>
  <%= f.submit "Submit", class: 'save_button' %>
<% end %>