<h1 style="color:red;text-align:center;font-family:'Georgia';font-style: italic">Predict The Winning Team</h1>
<p class="text_center"> Click on the card to select the team</p>
<%= link_to 'Scoreboard',users_path, class: 'button' %>
<%= link_to 'Daily Winners list',winners_path, class: 'button' %>
<% match_number = 1%>
<% today = Time.now.utc.strftime("%d-%b-%y") %>
<% match_start_date = "9-Apr-21" %>
<br><br><br>

<br><br><br>
<% today_match = today >= match_start_date ? today : match_start_date %>
<% all_match = MatchPredectionsHelper::MATCH_SCHEDULE[today_match] %>
<% match = all_match.first %>

<%= form_for @new_match_predection do |f| %>
  <center>
    <%= f.text_field :name, class: 'form-control', placeholder: "Enter Your Name", required: true %> 
    <%= f.password_field :password, class: 'form-control', placeholder: "Enter Your Password", required: true %>
    <br><br><br>
    <h1 style="text-align:center"> Today matches </h1>
    <br><br><br>
    <h1> Match <%= match_number %> </h1>
    <% end_time = all_match.count > 1 ? "3:30 PM" : "7:30 PM" %>
    <h6> You can select the team till <%= end_time %> </h6>
    <br><br><br>
    <div class="row">
      <%= f.collection_radio_buttons(:winners1, [[match['team1'], match['team1']] ,[match['team2'], match['team2']] ], :first, :last) do |b| %>
        <div class="column">
          <div class="card">
            <%= b.label { b.radio_button(class: "checkmark",checked: true,required: true) + image_tag(b.text+'.jpg', style: "width:300px;border-radius: 15px 15px 15px 15px;") } %>
            <div class="container">
              <h6><%= b.text %></h6>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div>
      <%= pie_chart MatchPredection.where(date: today_match).group(:winners1).count, donut: true, height: "200px" %>
    </div>
    <br><br><br><br>
    <% match_number+= 1%>

    <% if all_match.count > 1 %>
      <% match = all_match.last %>
      <h1> Match <%= match_number %> </h1>
      <h6> You can select the team till 7:30 PM </h6>
      <br><br><br>
      <div class="row">
        <%= f.collection_radio_buttons(:winners2, [[match['team1'], match['team1']] ,[match['team2'], match['team2']] ], :first, :last,html_options: { class: 'form-control' }) do |b| %>
          <div class="column">
            <div class="card">
              <%= b.label { b.radio_button(class: "checkmark",checked: true,required: true) + image_tag(b.text+'.jpg', style: "width:300px;border-radius: 15px 15px 15px 15px;") } %>
              <div class="container">
                <h6><%= b.text %></h6>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <div class="row">
      <%= pie_chart MatchPredection.where(date: today_match).group(:winners2).count, donut: true,height: "200px"%>
    </div>
    <br><br>
    <% end %>

  </center>
  <%= f.submit "Submit", class: 'save_button' %>
<% end %>