<h1 style="color:red;text-align:center">Predict the winning team</h1>
<p class="text_center"> Click on the card to select the team</p>
<%= link_to 'Scoreboard',users_path, class: 'button' %>
<% match_number = 1%>
<% Time.now.utc.strftime("%d-%b-%y") %>
<% Time.now.utc %>
<br><br><br>
<h1 style="color:blue;text-align:center"> Today matches </h1>
<br><br><br>
<% all_match = HomeHelper::MATCH_SCHEDULE['9-Apr-21'] %>
<% match = all_match.first %>

<%= form_for @new_match_predection do |form| %>
   <%= form.label :name, 'Your name', class: 'name_class' %>
   <%= form.text_field :name, class: 'form-control' %>
   
    
    <div class="row">
      <h1 class='text_center'> Match <%= match_number %> </h1>
      <br><br>
      <div class="column">
          <div class="card">
            <%= form.radio_button :winners1, match['team1'] %> 
            <%= form.label :winners1, image_tag(match['team1']+'.jpg', style: "width:300px") %>
          </div>
          </div>
          <div class="column">
          <div class="card">
            <%= form.radio_button :winners1, match['team2'] %>
            <%= form.label :winners1, image_tag(match['team2']+'.jpg', style: "width:300px") %>
          </div>
      </div>
    </div>
    <br><br><br><br>
    
    <% match_number+= 1%>
    <% if all_match.count > 1 %>
      <% match = all_match.last %>

      <div class="row">
        <h1 class='text_center'> Match <%= match_number %> </h1>
        <br><br>
        <div class="column">
          <div class="card">
            <%= form.radio_button :winners2, match['team1'] %> 
            <%= form.label :winners2, image_tag(match['team1']+'.jpg', style: "width:300px") %>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <%= form.radio_button :winners2, match['team2'] %>
            <%= form.label :winners2, image_tag(match['team2']+'.jpg', style: "width:300px") %>
          </div>
        </div>
      </div>
      <br><br><br><br>
    <% end %>

  <%= form.submit "Submit" %>
<% end %>

