<!DOCTYPE html>
<html>
  <head>
    <title>TestIpl</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |name,value| %>
      <div class=<% "alert alert-#{name}" %> > 
        <%= value %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
